/config.el
/elpa/
/ido.last
/bookmarks
/backups/
/auto-save-list/
/projectile-bookmarks.eld
/recentf
/helm-doc.org
/url/
/tramp
/eshell
/*.cache
/.places
/.hg
/.hgignore
/history
/quelpa
/magithub
/forge-database.sqlite
/custom.el
/.sx
/transient
/.lsp-session-*
